@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes slideToRight {
  from {
    left: 0%;
    transform: translateX(0%);
  }
  to {
    left: -50%;
    transform: translateX(50%);
  }
}

@keyframes slideToLeft {
  from {
    left: 0%;
    transform: translateX(0%);
  }
  to {
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes slideFromOutToRight {
  from {
    left: -50%;
    transform: translateX(50%);
  }
  to {
    left: 0%;
    transform: translateX(0%);
  }
}

@keyframes slideFromOutToLeft {
  from {
    left: 150%;
    transform: translateX(-150%);
  }
  to {
    left: 100%;
    transform: translateX(-100%);
  }
}

@keyframes fadeIn {
  from {
    filter: blur(4px);
    opacity: 0.5;
  }
  to {
    filter: blur(0);
    opacity: 100;
  }
}

@keyframes fadeOut {
  from {
    filter: blur(0);
    opacity: 100;
  }
  to {
    filter: blur(4px);
    opacity: 0.5;
  }
}